{
	"presets": [
		["env", {
			"modules": "commonjs"
		}],
		"stage-2"
	],
	"plugins": [
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}]
	],
	"env": {
		"development": {
			"plugins": [
				["module-resolver", {
					"root": ["./"],
					"alias": {
						"libs": "./libs",
						"config": "./libs/conf",
						"utils": "./libs/utils",
						"data": "./libs/serverdata"
					}
				}]
			]
		},
		"production": {
			"plugins": [
				["module-resolver", {
					"root": ["./"],
					"alias": {
						"libs": "./distribution/libs",
						"config": "./distribution/libs/conf",
						"utils": "./distribution/libs",
						"data": "./distribution/libs/serverdata"
					}
				}]
			]
		}
	}
}
