#sessionCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#sessionCanvas:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}

#footer {
	position: fixed;
	height: 40px;
	bottom: 20px;
	right: 0px;
	z-index: 99;
}

#wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#contentWrapper {
	position: absolute;
	height: calc(100% - 65px);
	width: 100%;
	overflow: hidden;
}

#session {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#sessionCanvas {
	position: absolute;
	height: 100% !important;
	width: 100% !important;
}

#3DGraphics {
	position: absolute;
	height: 100% !important;
	width: 100% !important;
}

.userInterface {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#bottomBar {
	position: relative;
	width: 285px;
	margin: auto;
}

.toggleGridBtn {
	position: fixed;
	left: 0px;
	top: 0px;
}